<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Eat-Da-Burger!</h1>
    </div>
</div>

<div class="container">
    <form class="cook-burger-input">
            <input type="text" id="burger_name" class="form-control form-control-lg m-1">
            <div class="input-group-append">
                <button id="submit" type="submit" class="btn btn-warning m-1"><i class="fas fa-hamburger"></i> Cook This Burger!</button>
            </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Devour these burgers now!</h2>
            {{#each burgers}}
            {{#unless devoured}}
                <div class="row border">
                    {{burger_name}}<button class="btn btn-warning mt-2" data-id={{ id }}><i class="fas fa-utensils"></i> Devour Now!</button>
                </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-sm-12 col-md-6">
            <h2>Yummy!</h2>
            {{#each burgers}}
            {{#if devoured}}
                <div class="row border devoured">
                    {{burger_name}}
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>


